# dependencies
node_modules/

# env
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# build
dist/
build/

# uploads (if any local)
src/uploads/

# firebase / secrets
src/config/firebase-key.json

# coverage
coverage/

# misc
*.log
